# Dependencies
node_modules/
.pnpm-store/

# Production build output
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Capacitor / Android build outputs
android/app/build/
android/build/
android/.gradle/
android/captures/
android/.idea/
*.keystore

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
